.tt-carousel-item {
  margin: 0 1rem;
}

.tt-carousel-wrapper-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}

.tt-carousel-wrapper-inner:active {
  cursor: grabbing;
}
