.tt-carousel-item {
  margin: 0 1rem;
}

.tt-carousel-item:first-child {
  margin-left: 0;
}

.tt-carousel-wrapper-inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: grab;
}

.tt-carousel-wrapper-inner:active {
  cursor: grabbing;
}
