
.tt-video-player-aspect {
    position: relative;
    aspect-ratio: 19 / 11;
    background-color: black;
    border-radius: 0.25rem;
    overflow: hidden;
}

.tt-video-player-aspect-hoverable:hover {
    cursor: pointer;
    outline-width: 1px;
    outline-style: solid;
    outline-color: #ff7b02;
}

.tt-video-player-processing {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%,-50%);
    min-width: calc(100% - 12px);
    color: #fff;
}

.tt-video-player-preview {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0px);
}

.tt-video-player-preview-play {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 52px;
    height: 52px;
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
    border-radius: 100px;
}

.tt-video-player-preview-play-icon {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

.tt-video-player-aspect:hover .tt-video-player-preview-play-icon {
    border-color: #ff7b02;
}

.tt-video-player-aspect:hover .tt-video-player-preview-play-icon {
    color: #ff7b02;
}

.tt-video-player-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /* width: 100vw;
    height: 100vh; */
    background-color: black;
}

.tt-video-player-container-fullscreen {}

.tt-video-player-video {
    width: 100%;
    height: 100%;
    margin: auto;
}

.tt-video-player-strips {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    /* animation: linear ease-in-out 1s; */
    transition-property: top;
    transition-duration: 10s;
}

.tt-video-player-strips-hidden {
    bottom: -100%;
}

.tt-video-player-progress-bar {
    position: relative;
    display: flex;
    /* width: calc(100% - 24px); */
    width: 100%;
    height: 4px;
    /* margin: 0 auto; */
    /* border-radius: 8px; */
    background-color: white;
    /* overflow: hidden; */
}

.tt-video-player-container.tt-video-player-container-fullscreen .tt-video-player-progress-bar {
    height: 6px;
}

.tt-video-player-progress-bar-current {
    background-color: #ff7b02;
}

.tt-video-player-progress-bar-current-label {
    position: absolute;
    top: 0;
    transform: translate(-50%,-100%);
    padding: 6px 8px;
    border-radius: 8px;
    background: rgba(0,0,0,.6);
    color: white;
}

.tt-video-player-controls {
    position: relative;
    display: flex;
    align-items: center;
    /* margin: 0 8px; */
    padding: 4px 8px;
    background: rgba(255,255,255,.2);
}

.tt-video-player-container.tt-video-player-container-fullscreen .tt-video-player-controls {
    padding: 8px 8px;
}

.tt-video-player-controls-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.tt-video-player-controls-right {
    display: flex;
    align-items: center;
}

.tt-video-player-control {
    display: inline-block;
    margin: 0 8px;
    cursor: pointer;
    color: #fff;
}

.tt-video-player-control:not(.tt-video-player-control-text):hover {
    color: var(--mantine-color-orange-7);
}

.tt-video-player-control-text {
    margin: 0 8px;
    font-size: 0.7rem;
    cursor: default;
}

.tt-video-player-container.tt-video-player-container-fullscreen .tt-video-player-control-text {
    font-size: 1.1rem;
}

.tt-video-player-control-rotating {
    cursor: default;
    animation: rotation 2s infinite linear;
}

.tt-video-player-volume-container {
    border-radius: 6px;
    padding: 20px;
    width: 300px;
    background-color: white;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}

.tt-video-player-volume-container[data-side="top"] {
    animation-name: slideDownAndFade;
}

.tt-video-player-volume-container[data-side="right"] {
    animation-name: slideLeftAndFade;
}

.tt-video-player-volume-container[data-side="bottom"] {
    animation-name: slideUpAndFade;
}

.tt-video-player-volume-container[data-side="left"] {
    animation-name: slideRightAndFade;
}

.tt-video-player-volume-slider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 20px;
    height: 100px;
}

.tt-video-player-volume-slider-track {
    background-color: rgba(0,0,0,0.8);
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    width: 3px;
}

.tt-video-player-volume-slider-range {
    position: absolute;
    background-color: white;
    border-radius: 9999px;
    width: 100%;
}

.tt-video-player-volume-slider-thumb {
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.tt-video-player-volume-slider-thumb:hover {
    background-color: #291F43;
}

.tt-video-player-volume-slider-thumb:focus {
    outline: none;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.3);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes slideUpAndFade {
    0% {
        opacity: 0;
        transform: translateY(2px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRightAndFade {
    0% {
        opacity: 0;
        transform: translateX(-2px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDownAndFade {
    0% {
        opacity: 0;
        transform: translateY(-2px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeftAndFade {
    0% {
        opacity: 0;
        transform: translateX(2px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
