.tt-user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tt-user-avatar-image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tt-user-avatar-image-wrapper.small {
  width: 32px;
  height: 32px;
}

.tt-user-avatar-image-wrapper.medium {
  width: 40px;
  height: 40px;
}

.tt-user-avatar-image-wrapper.large {
  width: 56px;
  height: 56px;
}

.tt-user-avatar-image {
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.tt-user-avatar-badge {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.tt-user-avatar-badge.small {
  width: 12px;
  height: 12px;
}

.tt-user-avatar-badge.medium {
  width: 18px;
  height: 18px;
}

.tt-user-avatar-badge.large {
  width: 24px;
  height: 24px;
}

.tt-user-avatar-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 0.6rem;
  flex-direction: column;
}

.tt-user-avatar-name {
  font: var(--font-normal-14-600);
  white-space: nowrap;
  color: var(--color-text-primary);
}

.tt-user-avatar-title {
  font: var(--font-normal-12);
  white-space: nowrap;
  color: var(--color-text-secondary);
}

@media (max-width: 900px) {
  .tt-user-avatar-image-wrapper.medium {
    width: 56px;
    height: 56px;
  }

  .tt-user-avatar-name {
    font: var(--font-normal-16-600);
  }

  .tt-user-avatar-title {
    font: var(--font-normal-14);
  }
}
