
html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-text);
}

* {
    box-sizing: border-box;
    color: var(--color-text);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-link);
}

h1,
h2 {
    font-family: var(--font-heading);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
} */
