.tt-product-card-warpper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.tt-product-card-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  aspect-ratio: 384/264;
}

.tt-product-card-image {
  border-radius: 20px;
  object-fit: cover;
  z-index: 0;
  overflow: hidden;
}

.tt-product-card-tags {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: row;
}

.tt-product-card-tag {
  margin-right: 0.4rem;
}

.tt-product-card-tag:last-child {
  margin-right: 0;
}

.tt-product-card-label {
  margin-top: 0.6rem;
}

.tt-product-card-like-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.tt-product-card-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.tt-product-card-info-rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tt-product-card-info-rating-value {
  margin-right: 0.4rem;
  font: var(--font-normal-13);
  color: var(--color-text);
}

.tt-product-card-dot-divider {
  margin: 0 0.5rem;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-text-secondary);
}

.tt-product-card-info-reviews-value {
  font: var(--font-normal-13);
  color: var(--color-text-secondary);
}

.tt-product-card-info-reviews-label {
  margin-left: 0.4rem;
  font: var(--font-normal-13);
  color: var(--color-text-secondary);
}

.tt-product-card-info-date-value {
  font: var(--font-normal-13);
  color: var(--color-text-secondary);
}

@media (max-width: 768px) {
  .tt-product-card-warpper {
    max-width: 90%;
  }
}
