.highlited {
  position: relative;
}

.highlited::after {
  content: "";
  height: 17px;
  background-color: var(--color-primary);
  opacity: 0.2;
  border-radius: 100px;
  margin-top: 1rem;
  position: absolute;
  bottom: 0;
  left: -0.5rem;
  right: -0.5rem;
}
