
.tt-checkbox-container {
    display: flex;
    align-items: center;
}

.tt-checkbox-container > .tt-checkbox {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px var(--color-text);
}

.tt-checkbox-container > .tt-checkbox:hover {
    background-color: var(--color-primary);
}

.tt-checkbox-container > .tt-checkbox:focus {
    box-shadow: 0 0 0 2px black;
}

.tt-checkbox-container > .tt-checkbox > .tt-checkbox-indicator {
    color: var(--color-primary);
}

.tt-checkbox-container > .tt-checkbox-label {
    /* color: white; */
    padding-left: 15px;
    font-size: 15px;
    line-height: 1;
    user-select: none;
}
