.tt-tag {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    width: auto;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tt-tag-rounded {
    padding: 0.2rem 0.6rem;
    border-radius: 40px;
}

.tt-tag-white {
    background-color: #fff;
    color: var(--color-text);
}

.tt-tag-primary {
    background-color: var(--color-primary);
}

.tt-tag-secondary {
    background-color: var(--color-secondary);
}

.tt-tag-success {
    background-color: var(--color-success);
}

.tt-tag-danger {
    background-color: var(--color-danger);
}

.tt-tag-warning {
    background-color: var(--color-warning);
}

.tt-tag-info {
    background-color: var(--color-info);
}
