.tt-campaign-hero-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  min-width: 1200px;
  max-height: 340px;
  max-width: 100;
}

.tt-campaign-hero-section h5 {
  margin: 1rem 0 0.2rem 0;
}

.tt-campaign-hero-section-image {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.tt-campaign-hero-section-image img {
  width: 560px;
  max-width: 100%;
  object-fit: cover;
  min-height: 340px;
}

.tt-campaign-hero-section-content {
  padding: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
}

.tt-campaign-hero-section-title {
  font: var(--font-bold-24);
  margin-bottom: 0.6rem;
}

.tt-campaign-hero-section-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.tt-campaign-hero-section-alert {
  height: 1rem;
  box-sizing: border-box;
  margin: 1rem 0;
  color: #ff0000;
  font-size: 0.8rem;
  font-weight: 600;
}

.tt-campaign-hero-section-image-back {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 36px;
  height: 36px;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.tt-campaign-hero-section-image-like {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 36px;
  height: 36px;
  z-index: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

@media (max-width: 900px) {
  .tt-campaign-hero-section {
    flex-direction: column;
    max-height: 100%;
    min-width: 100%;
    border-radius: 0;
  }
  .tt-campaign-hero-section-image {
    width: 100%;

    max-width: 100%;
    justify-content: center;
  }
  .tt-campaign-hero-section-image img {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 246px;
  }
  .tt-campaign-hero-section-content {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }
  .tt-campaign-hero-section-alert {
    font-size: 0.7rem;
  }

  .tt-campaign-hero-section-image-back {
    display: flex;
  }

  .tt-campaign-hero-section-image-like {
    display: flex;
  }

}
