.tt-dashed-bar-chart {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  width: 100%;
}

.tt-dashed-bar-chart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.tt-dashed-bar-chart__item:not(:last-child) {
  margin-bottom: 1.3rem;
}

.tt-dashed-bar-chart__item__label {
  white-space: nowrap;
  font: var(--font-normal-14-600);
}

.tt-dashed-bar-chart__item__value {
  white-space: nowrap;
  font: var(--font-normal-14-600);
  color: var(--color-text-secondary);
}

.tt-dashed-bar-chart__item__bar {
  display: grid;
  grid-template-columns: repeat(var(--tt-dashed-bar-chart-dashes), 1fr);
  align-items: center;
  z-index: 2;
}

.tt-dashed-bar-chart__item__bar__dash {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40px;
  max-width: 40px;
  height: 8px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  border-radius: 6px;
  overflow: hidden;
  margin-right: 0.5rem;
  background-color: var(--light-gray);
}

.tt-dashed-bar-chart__item__bar__dash_fill {
  position: absolute;
  z-index: 3;
  height: 100%;
  background-color: var(--color-secondary);
  left: 0;
  top: 0;
  bottom: 0;
  transition: width 0.5s ease-in-out;
}
