.tt-labeled-icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 1rem;
}

.tt-labeled-icon-icon {
  margin-right: 0.5rem;
}

.tt-labeled-icon-label {
  font: var(--font-normal-14);
  white-space: nowrap;
}
