
.tt-input {
    width: 100%;
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1;
    height: 35px;
    color: var(--color-text);
    box-shadow: 0 0 0 1px var(--color-primary);
}

/* .Input {
    width: 100%;
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1;
    color: var(--violet11);
    box-shadow: 0 0 0 1px var(--violet7);
    height: 35px;
}

.Input:focus {
    box-shadow: 0 0 0 2px var(--violet8);
} */
