/* hide numbers at ol component */
.tt-state-progress-list {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

.tt-state-progress-list-item {
    display: flex;
    align-items: center;
}

.tt-state-progress-list-item:not(:first-child) {
    margin-top: 16px;
}

.tt-state-progress-list-item-content {
    font: var(--font-normal-14-600);
    color: var(--color-text);
}

.tt-state-progress-list-item-content.active {
    color: var(--color-info);
}

.tt-state-progress-list-item-content.done {}
.tt-state-progress-list-item-content.disabled {}
.tt-state-progress-list-item-content.error {}

.tt-state-progress-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.tt-state-progress-indicator.active {
    color: var(--color-info);
}

.tt-state-progress-indicator.done {
    color: var(--color-success);
}

.tt-state-progress-indicator.disabled {
    color: var(--color-disabled);
}

.tt-state-progress-indicator.error {
    color: var(--color-error);
}

.tt-state-progress-list-item-note {
    background: #f7f8fa 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;
    font: var(--font-normal-14);
}
