/* hide numbers at ol component */
.tt-state-progress-list {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

.tt-state-progress-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.tt-state-progress-list-item_content {
  font: var(--font-normal-14-600);
  color: var(--color-text);
}

.tt-state-progress-list-item_content.active {
  color: var(--color-info);
}

.tt-state-progress-list-item_content.done {
}

.tt-state-progress-list-item_content.disabled {
}

.tt-state-progress-list-item_content.error {
}
