.tt-campaign-card-warpper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.tt-campaign-card-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    aspect-ratio: 384/264;
}

.tt-campaign-card-image {
    border-radius: 20px;
    object-fit: cover;
    z-index: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.tt-campaign-card-community-logo-wrapper {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: #fff;
    padding: 0.3rem 0.8rem;
    border-radius: 40px;
    max-width: 88px;
    max-height: 24px;
}

.tt-campaign-card-community-logo {
    max-width: 60px;
    max-height: 18px;
    object-fit: contain;
}

.tt-campaign-card-tags {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: row;
    max-width: 80%;
    overflow: hidden;
    flex-wrap: wrap;
}

.tt-campaign-card-tag {
    margin-right: 0.4rem;
    margin-bottom: 0.2rem;
    white-space: nowrap;
    font-weight: 600;
    padding: 0.2rem 0.6rem;
}

.tt-campaign-card-tag:last-child {
    margin-right: 0;
}

.tt-campaign-card-label {
    margin-top: 0.6rem;
}

.tt-campaign-card-like-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.tt-campaign-card-dot-divider {
    margin: 0 0.5rem;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--color-text-secondary);
}

/* @media (max-width: 768px) {
  .tt-campaign-card-warpper {
    max-width: 90%;
  }
} */
