.tt-timeline__wrapper {
  position: relative;
  width: 100%;
}

.tt-timeline {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 4px;
  background-color: var(--color-border);
  width: 100%;
  margin-bottom: 16px;
  border-radius: 2px;
  overflow: hidden;
}

.tt-timeline__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--color-text);
  z-index: 1;
}

.tt-timeline__steps {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
}

.tt-timeline__step {
  position: relative;
  width: 200px;
}

.tt-timeline__step-label {
  font: var(--font-normal-14-600);
  color: var(--color-text);
}

.tt-timeline__step-sublabel {
  font: var(--font-normal-14);
  color: var(--color-text);
}

.tt-timeline__step_indicator {
  position: absolute;
  top: -31px;
  left: 50%;
  transform: translate(-50%, 25%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid var(--color-border);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tt-timeline__step_indicator.active {
  background-color: var(--color-text);
  border: 2px solid var(--color-text);
  outline: 2px solid #ffffff;
}

.tt-timeline__popup {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 15%);
  color: #fff;
  background-color: var(--color-secondary);
  padding: 2px 8px;
  z-index: 11;
  height: 25px;
  border-radius: 4px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 0.9rem;
}

.tt-timeline__popup::after {
  content: "";
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: var(--color-secondary) transparent transparent transparent;
  z-index: 10;
}

.tt-timeline__popup-anchor {
  position: relative;
  height: 0px;
  width: 0px;
}

.tt-timeline__popup-wrapper {
  position: absolute;
  top: -75%;
  left: 0;
  background-color: aqua;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 10;
  border-radius: 4px;
  height: 0;
}
