.tt-alert {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 8px;
}

.tt-alert-info {
  background-color: #e5f6fd;
}

.tt-alert-warning {
  background-color: #fff4e5;
}

.tt-alert-error {
  background-color: #fdeded;
}

.tt-alert-success {
  background-color: #edf7ed;
}

.tt-alert-icon {
  margin-right: 1rem;
  height: 1.6rem;
  width: 1.6rem;
}

.tt-alert-icon-success {
  color: var(--color-success);
}

.tt-alert-icon-error {
  color: var(--color-error);
}

.tt-alert-icon-warning {
  color: var(--color-warning);
}

.tt-alert-icon-info {
  color: var(--color-info);
}

.tt-alert.small {
  padding: 0.6rem;
}

.tt-alert.small .tt-alert-icon {
  margin-right: 0.5rem;
}

.tt-alert.large {
  padding: 1.5rem;
}
